header{
    margin:0;
    height: 100%; 
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    font-size: 18px;
    font-family: "Share Tech Mono", monospace;
    border-style: groove;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right, 
        rgb(26, 106, 22),   /* darker left edge */
        rgb(51, 183, 39),   /* main green in middle */
        rgb(22, 89, 19)    /* darker right edge */
    );
}

.cat{
    width: 400px;
    height: 199px;
    margin: .5px auto 0;

}

.walking {
  background-image: url("../nmcmedia/cat_tiles.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: walk-animation 2s steps(12) infinite;
}

@keyframes walk-animation{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 0 -2391px;
    }
}

.left-header .Logo{
    width:100px;
    height: auto;
}



.middle-header{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.right-header button{
  background-color: lavender;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
}

.right-header{
    display: flex;
    padding-top: 15px;
    align-items: center;
    text-decoration: none;
    justify-content: end;
    gap: 1rem;
    margin-right: 25px;
}

.Logo{
    width: 75px;
    margin-left: 25px;
}

hr{
    background-color: black;
    border: .001px solid;
}

