header{
    margin:0;
    height: 100%; 
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    font-size: 18px;
    font-family: "Gupter", serif;
    
    justify-content: space-between;
    align-items: center;
}

.left-header .Logo{
    width:80px;
    height: auto;
}

.left-header{
    flex: 1;
}

button{
  background-color: lavender;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Gupter", serif;
  font-size: 18px;
}

.right-header{
    display: flex;
    padding-top: 15px;
    align-items: center;
    text-decoration: none;
    flex:1;
    justify-content: end;
    gap: 1rem;
    margin-right: 25px;
}

.Logo{
    width: 75px;
    margin-left: 25px;
}

hr{
    background-color: black;
    border: .001px solid;
}
